@using GIHUN_MVC_Project.Models.AmazonS3
@model UserProfileImage

<div>
    <h1> This is User Index Page</h1>
</div>
<br />
<br />



<div class="container">
    <h4> 프로필 사진 바꾸기 </h4>

    <form asp-action="Index" asp-controller="User" enctype="multipart/form-data" method="post">
        <input type="file" name="file" />

        <button class="btn btn-primary" type="submit"> OK </button>
    </form>

    @if (Model.UserProfileImageUrl == null)
    {
        <span> 프로필 사진을 업로드 해주세요. </span>
    }
    else
    {
        <br />
        <h4> 현재 프로필 사진 입니다. </h4>
        <img src="@Model.UserProfileImageUrl" height="600px;" width="1200px;" />
    }

</div>